<header [showSearchBox]="true" [hideMenu]="true"></header>
<div *ngIf="entity" class="container main-body" bodyStyle [body-class]="['app-domain']">
  <div class="panel panel-default">
    <div class="panel-heading">{{entity.name}} <small>{{'domain.title' | translate}}</small></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-8">
          <table class="table table-condensed table-borderless">
            <tbody>
              <tr>
                <th>{{'domain.DNS' | translate}}</th>
                <td>{{entity.registrar}}</td>
              </tr>
              <tr>
                <th>{{'domain.DNS-server' | translate}}</th>
                <td>{{entity.dnsServer}}</td>
              </tr>
              <tr>
                <th>{{'domain.alexa-rank' | translate}}</th>
                <td>{{entity.alexaRank}}</td>
              </tr>
              <tr>
                <th>{{'domain.tags' | translate}}</th>
                <td><span class="label label-success">白名单</span></td>
              </tr>
              <tr>
                <th>{{'domain.user-marks' | translate}}</th>
                <td>
                  <span class="label label-default">{{'domain.c2server' | translate:value}}</span>
                  <span class="label label-default">{{'domain.malicious-site' | translate:value}}</span>
                  <span class="label label-default">{{'domain.normal-site' | translate:value}}</span>
                  <span class="label label-default">{{'domain.phishing' | translate:value}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-4 text-center">
          <canvas gauge [value]="entity.queryHot">gauge</canvas>
          <h4><span class="label label-warning">查询热度</span></h4>
        </div>
      </div>
    </div>
  </div>

  <tabset [justified]="true">
    <tab>
      <template tabHeading>{{'domain.intelligence' | translate}}</template>
      <div class="panel panel-default">
        <div class="panel-heading"><h2 class="panel-title">{{'domain.threat-intelligence-detection' | translate}}</h2></div>
        <div class="panel-body">
          <p class="no-data">{{'messages.no-data' | translate}}</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h2 class="panel-title">{{'domain.relate-event' | translate}}</h2></div>
        <div class="panel-body">
          <p class="no-data">{{'messages.no-data' | translate}}</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h2 class="panel-title">{{'domain.suspect-urls-on-this-address' | translate}}</h2></div>
        <div class="panel-body">
          <p class="no-data">{{'messages.no-data' | translate}}</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h2 class="panel-title">{{'domain.samples-in-communication' | translate}}</h2></div>
        <div class="panel-body">
          <p class="no-data">{{'messages.no-sample-match' | translate}}</p>
        </div>
      </div>
    </tab>
    <tab>
      <template tabHeading>{{'domain.IP.title' | translate}}</template>
      <ip></ip>
    </tab>
    <tab>
      <template tabHeading>{{'domain.sub-domains.title' | translate}}</template>
      <sub-domains></sub-domains>
    </tab>
    <tab>
      <template tabHeading>{{'domain.whois' | translate}}</template>
      <whois></whois>
    </tab>
    <tab>
      <template tabHeading>{{'domain.certificate' | translate}}</template>
      Certificate
    </tab>
    <tab>
      <template tabHeading>{{'domain.visualization' | translate}}</template>
      Visualization
    </tab>
    <tab>
      <template tabHeading>{{'domain.community' | translate}}</template>
      Community
    </tab>
  </tabset>
</div>

<footer [class]="'footer'"></footer>