<header></header>
<main>
  <div class="container home">
    <h1 class="text-center title">{{'home.title' | translate}}</h1>
    <div class="text-center search">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" [attr.placeholder]="'search.input' | translate">
        <div class="input-group-btn">
          <span class="btn btn-default"><i class="fa fa-upload"></i></span>
          <span class="btn btn-default btn-info" (click)="doSearch()">{{'buttons.analyse' | translate}}</span>
        </div>
      </div>
    </div>
    <p class="text-center remark">{{'search.example' | translate}}</p>
    <p class="text-center source-ip">{{'home.visitor' | translate}}<a href="javascript:;">58.247.19.61</a></p>
  </div>
</main>