<div class="hidden-xs hidden-sm  text-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-inline text-left knowmore-list">
          <li>
            <a href="javascript:;" [attr.title]="'footer.guide' | translate" target="_blank">{{'footer.guide' | translate}}</a>
          </li>
          <li>
            <a href="javascript:;" [attr.title]="'footer.api' | translate" target="_blank">{{'footer.api' | translate}}</a>
          </li>
          <li>
            <a href="javascript:;" [attr.title]="'footer.about' | translate" target="_blank">{{'footer.about' | translate}}</a>
          </li>
          <li>
            <a href="javascript:;" [attr.title]="'footer.terms-of-service' | translate" target="_blank">{{'footer.terms-of-service' | translate}}</a>
          </li>
          <li>
            <a href="javascript:;" [attr.title]="'footer.privacy-policy' | translate" target="_blank">{{'footer.privacy-policy' | translate}}</a>
          </li>
          <li>
            <a href="javascript:;" [attr.title]="'footer.change-log-partner' | translate" target="_blank">{{'footer.change-log-partner' | translate}}</a>
          </li>
          <li>
            <a href="javascript:;" [attr.title]="'footer.partner' | translate" target="_blank">{{'footer.partner' | translate}}</a>
          </li>
        </ul> 
      </div>
      <div class="col-md-2">
        <ul class="list-inline follow-us">
          <li>
            <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
          </li>
          <li>
            <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="javascript:;"><i class="fa fa-wechat"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-right">
        <ul class="list-inline contact-us">
          <li>
            <span class="fa fa-phone"></span> 021-12345678
          </li>
          <li>
            <span class="fa fa-envelope"></span> nimda_wen@hotmail.com
          </li>
        </ul>
      </div>
      <div class="col-md-7 text-left">
        Copyright © Well.CN All Rights Reserved. XICP备XXXXXXX号 Well科技有限公司
      </div>
      <div class="col-md-5 text-right">
        <div class="btn-group dropup" dropdown> 
          <a href="javascript:;" class="dropdown-toggle" dropdownToggle> {{'header.language' | translate}} <span class="caret"></span></a>
          <ul dropdownMenu class="dropdown-menu-right" role="menu" aria-labelledby="single-button">
            <li><a href="javascript:;" (click)="setLanguage('zh')">中文</a></li>
            <li><a href="javascript:;" (click)="setLanguage('en')">English</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>