<div class="hidden-xs hidden-sm  text-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <ul class="list-inline text-left knowmore-list">
          <li>
            <a href="javascript:;" title="向导" target="_blank">向导</a>
          </li>
          <li>
            <a href="javascript:;" title="API" target="_blank">API</a>
          </li>
          <li>
            <a href="javascript:;" title="关于" target="_blank">关于</a>
          </li>
          <li>
            <a href="javascript:;" title="关于" target="_blank">服务条款</a>
          </li>
          <li>
            <a href="javascript:;" title="关于" target="_blank">隐私政策</a>
          </li>
          <li>
            <a href="javascript:;" title="关于" target="_blank">更新日志</a>
          </li>
          <li>
            <a href="javascript:;" title="关于" target="_blank">合作伙伴</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-inline follow-us">
          <li>
            <a class="follow facebook" target="_blank" href="https://www.facebook.com/ThreatBook-507527639411197"> </a>
          </li>
          <li>
            <a class="follow linkedin" target="_blank" href="https://www.linkedin.com/company/threatbook?trk=top_nav_home"> </a>
          </li>
          <li>
            <a class="follow twitter" target="_blank" href="https://twitter.com/@ThreatBookLabs"> </a>
          </li>
          <li>
            <a class="follow wechat" href="#" id="wechat_container"> </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-right">
        <ul class="list-inline contact-us">
          <li>
            <span class="follow phone"></span>021-12345678
          </li>
          <li>
            <span class="follow email"></span>nimda_wen@hotmail.com
          </li>
        </ul>
      </div>
      <div class="col-md-7 text-left">
        Copyright © Well.CN All Rights Reserved. XICP备XXXXXXX号 Well科技有限公司
      </div>
      <div class="col-md-5 text-right">
        <div class="btn-group dropup" dropdown>
          <a href="javascript:;" class="dropdown-toggle" dropdownToggle> {{'header.language' | translate}} <span class="caret"></span></a>
          <ul dropdownMenu class="dropdown-menu " role="menu" aria-labelledby="single-button">
            <li><a href="javascript:;" (click)="setLanguage('zh')">中文</a></li>
            <li><a href="javascript:;" (click)="setLanguage('en')">English</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>